<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BTA</title>
</head>

<body>
    <div id="registro">
        <h1>{{welcome}}</h1>
        <table>
            <tr>
                <td><input type="text" placeholder="correo" v-model="correoSesion"></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="contraseña" v-model="claveSesion"></td>
            </tr>
        </table>
        <button @click="login">Iniciar sesion</button>
        <hr>
        <h2>{{registro}}</h2>
        <table>
            <tr>
                <td><input type="text" placeholder="Nombre" v-model="newNombre"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="edad" v-model="newEdad"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="telefono" v-model="newTelefono"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="correo" v-model="newCorreo"></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="contraseña" v-model="newClave"></td>
            </tr>
        </table>
        <button @Click="restriccion">Registrar</button>

        <ul>
            <li v-for="usuario of usuarios">
                {{usuario.nombre}} --- {{usuario.edad}}
            </li>
        </ul>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/script/registro.js"></script>
</body>

</html>