body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
  }
  
  table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
  }
  
  th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  th, td {
    min-width: 120px;
    padding: 10px 20px;
  }
  
  th.active {
    color: #fff;
  }
  
  th.active .arrow {
    opacity: 1;
  }
  
  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }
  
  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }
  
  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
  .personajes{
    width: 270px;
    height: 400px;
  }
  .centrado{
    margin: 0px auto;
    display: block;
    width: 250px;
  }
  #main-header a {
    color: white;
  }
  p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  div {
    padding: 0px 10px 50px 10px ;
    background: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5em; /* Espacio de interlineado*/
    padding-top: 40px; /* Relleno superior igual a la altura de la cabecera*/
    text-align: justify;
  }
  
  /*
  * Logo
  */
  #logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
  }
  #logo-header:hover {
    color: #0b76a6;
  }
  
  #logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  #logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
  
  
  /*
  * Navegación
  */
  nav {
  float: right;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
  }
      
  nav ul li a {
    display: block;
    padding: 0 10px;
  }
      
  nav ul li a:hover {
    background: #0b76a6;
  }
  
  #main-header {
    background: #333;
     color: white;
     height: 80px;
    
     width: 69%; /*  cabecera ocupe un porcentaje del ancho de la página */
    top:0%; /* cabezara pegada a borde superior*/
     position: fixed; /* cabecera tenga una posición fija */
  }
  